.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
  }

  .title {
    color: #ffffff;
    font-size: 34px;
  }

  .link-div {
    display: flex;
    margin: 13px 0;

    .link {
      font-size: 18px;
      color: #ffffff;
      transition: 0.25s ease-in-out;
      margin: 20px 50px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
        color: #ffc107;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .copyright-div {
    margin: 6px 0;
  }
}
