// Normal Theme

// App
// $app-primary: #;

// Text
$text-primary: #000;
$text-disabled: #b2aeb5;
$dark-text-primary: #ffffff;

$card-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
$bg-dark: '#000';

// Dark theme
