.contact-container {
  padding: 64px 120px;
  min-height: 700px;
  background-image: url('../../../icons/Ellipse-home-bg.svg');
  background-position: bottom 110% right -20%;
  background-repeat: no-repeat;

  .title-div {
  }
}
